.TodoTemplate {
  // 크기
  width: 512px;

  // 중앙 정렬
  margin-left: auto;
  margin-right: auto;

  // 상단부 여백
  margin-top: 6rem;

  // 가장자리 둥글게
  border-radius: 4px;

  overflow: hidden;

  .app-title {
    // 높이 설정
    height: 5rem;

    // 중앙 정렬
    display: flex;
    align-items: center;
    justify-content: center;

    // 글자 크기
    font-size: 1.5rem;

    // 글자 색상
    color: #fff;

    // 배경 색상
    background: #22b8cf;
  }

  .content {
    // 높이 설정
    height: 20rem;

    // 글자 크기
    font-size: 1.5rem;

    // 글자 색상
    color: #495057;

    // 배경 색상
    background: #e9ecef;
  }

  // 디버깅용 배경
  background: #f8f9fa;
}
